.featured-modules {
    position: absolute;   
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: 100%;
    width: 100%;
}


.featured-row {
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.featured-container {          
    z-index: 2;   
    margin-top: 140px;
    /* background-color: rgb(185, 185, 185);        */
    background-color: transparent;       
    box-shadow: 0 8px 32px 0 rgba(75, 75, 75, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255);
    width: 1000px;
    height: 530px;    
}
.featured-container .featured-content {
    position: relative;
    right: 180px;
    
}

.featured-container h1 {
    position: relative;
    right: 180px;
    bottom: 70px;
}

.featured-content {
    display: flex;
    flex-direction: row;
    height: 300px;
    width: 940px;
}


.teammates {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 40px;
}

.teammates-text {
      margin-bottom: 30px;      
}



.featured-container h1 {
    border-bottom: solid silver;
    padding-bottom: 12px;
}

h5 {
    font-size: 22.5px;
    text-align: justify;
    text-justify: inter-word;
  
}



.developer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rpgaa-initial-photo {
    width: 550px;
    height: 300px;
}

.buddies-photo {
    width: 350px;
}

.mobile-photo {
    position: relative; 
    width: 230px;
    top: 4px;
    left: 8px;
    border-radius: 1%;
    border: solid rgb(29, 29, 29) 1.9px;  
    
}

.deployed-featured {
    position: relative;
    left: 690px;
    bottom: 460px;
    display: flex;
    flex-direction: column;
    align-items:  center;
    font-size: 30px;
    padding: 10px;
    background-color: rgb(100, 100, 100);      
    box-shadow: 0 8px 32px 0 rgba(158, 158, 158, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba(5, 5, 5, 0.18);      
    cursor: pointer;   
}

.deployed-featured:hover {
    background-color: rgb(95, 95, 95); 
    border: 1px solid rgb(255, 255, 255); 
}


.mission-text {
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    bottom: 40px;  
}


.dot {
    margin-top: 10px;
}


h4 {
    width: 70%;
    text-align: justify;
    text-justify: inter-word;
}

.tools-content {
    display: flex;
}


.tools-list {
    position: relative;
    right: 20px;
    display: flex;
    font-size: 22.5px;   
    width: 550px;
    padding: 0px;    
}

.tools-aside {
    position: relative;
    left: 100px;
    bottom: 5px;
}

.link-style {
    color: rgb(68, 81, 255);
}

.link-style:hover {
    color: rgb(2, 0, 102);
}

p4 {
    display: flex;
    margin-left: 37px;
    margin-bottom: 15px;
    flex-wrap: nowrap;
    position: relative;
    left: 50px;
}

.technology-list {
    display: flex;   
    position: relative;
    left: 50px;
}

.tools-text { 
    width: 220px;
    height: 145px;
    padding: 5px;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-word; 
}

.github-repo {
    position: relative;
    left: 5px;
    width: 210px;    
    
}

.repository-button {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items:  center;
    font-size: 30px;
    padding: 1px;
    background-color: rgb(100, 100, 100);      
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba(5, 5, 5, 0.18);     
    width: 210px;  
    height: 210px;  
    cursor: pointer;
}

.repository-button:hover {
    border: 1px solid rgb(255, 255, 255); 
}


.welcome-photo {
    position: relative;
    bottom: 40px;
    right: 5px;
    border-radius: 1%;
    width: 55%;
    height: 135%;
}

.future-text {    
    position: relative;
    width: 450px;
    bottom: 45px;
}

h6 {
    font-size: 20px;
}

.row {
    display: flex;
    flex-direction: column;    
}



.button {    
    margin: 13px;
}


.dev-button {    
    max-width: 200px;
    height: 200px;
    margin: 13px;
    position: relative;
    cursor: pointer;
    z-index: 2;
    border: none;
    background-image: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    --border-size: 2.5px;
    --background-color: rgb(255, 255, 255);  
    
}



.next-button {
    z-index: 1;
    position: relative;
    top: 65px;
    border-radius: 50%; 
    width: 120px;  
    height: 120px;
    background: transparent; 
    cursor: pointer;  
    
}

.prev-button {
    z-index: 1;
    position: relative;
    top: 65px;
    border-radius: 50%; 
    width: 120px;  
    height: 120px;
    background: transparent;
    cursor: pointer;
}




.dev-button.border-pop::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;  
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
    border-radius: 5px;
    cursor: pointer;

}

.dev-button.border-pop:hover::before {
    content: '';
    position: absolute;
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);  
    z-index: -1;
    border: var(--border-size) solid var(--background-color);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
}

.dev-button.border-pop:focus::before {
    content: '';
    position: absolute;
    top: calc(var(--border-size) * -2);
    left: calc(var(--border-size) * -2);
    right: calc(var(--border-size) * -2);
    bottom: calc(var(--border-size) * -2);  
    z-index: -1;
    border: var(--border-size) solid var(--background-color);

}




.profile-container {
    font-size: 30px;
    padding: 10px;
    background-color: rgb(100, 100, 100);      
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    width: 100px;
    height: 100px;
    margin: 30px;
}



.selected-container {      
    position: relative;
    text-align: justify;
    top: 50px;
    right: 450px;
    background-color: rgb(185, 185, 185);
    width: 800px;
    height: 240px;
    margin: 0px;
    padding: 22px;
    border-radius: 10px;
}

p2 {
    font-size: 20px;
}

.img-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.featured-cont {
    position: relative;
    left: 450px;
}

#tools-cont {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 355px;
}

.tool-buttons {
    position: relative;
    left: 410px;
}

.dev-image-selected {
    border-radius: 10px;
    max-width: 250px;
    height: 150px;
    padding: 0px;
    margin: 0px;  
    
}

.tech {
    position: relative;
    left: 20px;
}

.button-links {
    display: flex;
    align-items: center;    
    width: 50px;
    height: 50px;
    margin: 10px;    
    border-radius: 10px;    
}

.button-icon { 
    position: relative; 
    right: 12px;  
    width: 60px;
    height: 60px;    
}

.dev-pure-text-david {
    position: relative;     
    right: 1220px;
    top: 90px;      
}


.dev-pure-text-alex {
    position: relative;     
    right: 1405px;
    top: 90px;      
}

.dev-pure-text-ricky {
    position: relative;     
    right: 1590px;
    top: 90px;      
}

.dev-pure-text-karl {
    position: relative;     
    right: 1775px;
    top: 90px;      
}

.david-slide-mask {
    animation: david-slide-mask 700ms ease-in forwards;
}

.alex-slide-mask {
    animation: alex-slide-mask 700ms ease-in forwards;
}

.ricky-slide-mask {
    animation: ricky-slide-mask 700ms ease-in forwards;
}

.karl-slide-mask {
    animation: karl-slide-mask 700ms ease-in forwards;
}

.david-hide-text, .alex-hide-text, .ricky-hide-text, .karl-hide-text {
    visibility: hidden;
}




.dev-container {
    width: 187px;
}


.david-reveal-text, .alex-reveal-text, .ricky-reveal-text, .karl-reveal-text {    
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, opacity 0.5s linear;  
    
    
}

.david-reveal-text {
    animation: david-reveal-text-scroll 700ms ease-in forwards;
}

.alex-reveal-text {    
    animation: alex-reveal-text-scroll 700ms ease-in forwards;    
}

.ricky-reveal-text {    
    animation: ricky-reveal-text-scroll 700ms ease-in forwards;    
}

.karl-reveal-text { 
    animation: karl-reveal-text-scroll 700ms ease-in forwards;    
}

.developer-name {
    font-size: 19px;
}

#david {
    width: 186px;
    height: 226px;
}

#david-container {
    width: 186px;
    height: 226px;
}

#alex {
    width: 186px;
    height: 226px;
}

#alex-container {
    width: 186px;
    height: 226px;
}

#ricky {
    width: 186px;
    height: 226px;
}

#ricky-container {
    width: 186px;
    height: 226px;
}

#karl {
    width: 186px;
    height: 226px;
}

#karl-container {
    width: 186px;
    height: 226px;
}

.button-group {    
    display: flex;
    flex-direction: row;
    max-width: 750px;
    max-height: 240px;
}



.button-container {
    display: flex;
    flex-direction: row; 
    margin-left: 10px;    
    
}


.dev-image {
    border-radius: 10px;
    max-width: 150px;
    height: 90px;
    padding: 0px;
    margin: 0px;      
}


.selected {
    display: flex;
    flex-wrap: nowrap;
    z-index: -1; 
    position: relative;   
    padding: 0px;
    height: 0px;
    width: 0px;
    right: 400px;
    top: 255px;

}


.dev-text-content {   
    position: relative;
    z-index: 0;      
    padding: 0px;
    height: 275px;   
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.88) 0%, #929292 100%);     
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 0px solid rgba( 255, 255, 255, 0.18 ); 
}



.button-linkedin {
    z-index: 10;
    background:url('../DevButtons/img/linkedin.png') no-repeat;     
    background-position: center;
    background-size: contain;
    pointer-events: auto;
    cursor: pointer;
}

.button-github {
    z-index: 10;
    background:url('../DevButtons/img/github.png') no-repeat;     
    background-position: center;
    background-size: contain;
    cursor: pointer;
    pointer-events: auto;
}







.david-push-left {
    pointer-events: none;
    transition: transform 700ms ease-in-out;
}

.alex-push-left {
    pointer-events: none;
    transition: transform 700ms ease-in-out;
}

.ricky-push-left {
    pointer-events: none;
    transition: transform 700ms ease-in-out;
}

.karl-push-left {   
    pointer-events: none;
    transition: transform 700ms ease-in-out;
}


.david .david-button {    
    animation: selected-dev-david 700ms ease-in forwards;  
}

.alex .alex-button {    
    animation: selected-dev-alex 700ms ease-in forwards;  
}

.ricky .ricky-button {    
    animation: selected-dev-ricky 700ms ease-in forwards;  
}

.karl .karl-button {    
    animation: selected-dev-karl 700ms ease-in forwards;      
}

.david .david-return {
    animation: return-dev-david 700ms ease-in forwards; 
    animation-delay: 0.7s;
}

.alex .alex-return {
    animation: return-dev-alex 700ms ease-in forwards; 
    animation-delay: 0.7s;
}

.ricky .ricky-return {
    animation: return-dev-ricky 700ms ease-in forwards; 
    animation-delay: 0.7s;
    
}

.karl .karl-return {
    animation: return-dev-karl 700ms ease-in forwards;   
    animation-delay: 0.7s;
}

.david .fade-out , .alex .fade-out , .ricky .fade-out , .karl .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.david .fade-in, .alex .fade-in, .ricky .fade-in, .karl .fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, opacity 0.5s linear;
}




.david .david-push-left {
    animation: david-push-left 700ms ease-in forwards;
}

.alex .alex-push-left {
    animation: alex-push-left 700ms ease-in forwards;
}

.ricky .ricky-push-left {
    animation: ricky-push-left 700ms ease-in forwards;
}


.karl .karl-push-left {
    animation: karl-push-left 700ms ease-in forwards;  
     
}

.selected .unwrap {
    animation: unwrap 700ms ease-in forwards;
}

.selected .wrap {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    animation: wrap 700ms ease-in forwards;
}

.wingslide-left {
    animation: wingslide-left 1000ms ease-in;
}



@keyframes unwrap {

    0% {
        transform: translateX(0%);
        padding: 0px;
    } 

    100% {
        transform: translateX(-30%);
        padding-left: 200px;
        padding-right: 625px;
    }
}

@keyframes wrap {

    0% {
        transform: translateX(-30%);
        padding-left: 0px;
        padding-right: 825px;
    } 

    100% {
        transform: translateX(-68%);
        padding-left: 0px;
        padding-right: 0x;
    }
}




@keyframes selected-dev-david {
    0% {
        transform: translateY(0);
    } 

    100% {
        transform: translateY(140%) translateX(170%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}

@keyframes return-dev-david {  

    100% {
        transform: translateY(0%) translateX(0%);
    }
}

@keyframes david-push-left {
    0% {
        transform: translateY(140%) translateX(170%) scale(1.4);
        -webkit-animation: scale(1.4);
    } 

    100% {
        transform: translateY(140%) translateX(-67%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}





@keyframes selected-dev-alex{
    0% {
        transform: translateY(0);
    } 

    100% {
        transform: translateY(140%) translateX(60%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}

@keyframes return-dev-alex {
  
    100% {        
        transform: translateY(0%) translateX(0%);
    }
}

@keyframes alex-push-left {
    0% {
        transform: translateY(140%) translateX(60%) scale(1.4);
        -webkit-animation: scale(1.4);
    } 

    100% {
        transform: translateY(140%) translateX(-184%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}






@keyframes selected-dev-ricky {
    0% {
        transform: translateY(0);
    } 

    100% {
        transform: translateY(140%) translateX(-60%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}

@keyframes return-dev-ricky {

    100% {
        transform: translateY(0) translateX(0%);
    }
}


@keyframes ricky-push-left {
    0% {
        transform: translateY(140%) translateX(-60%) scale(1.4);
        -webkit-animation: scale(1.4);
    } 

    100% {
        transform: translateY(140%) translateX(-300%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}





@keyframes selected-dev-karl {
    0% {
        transform: translateY(0);
    } 

    100% {
        transform: translateY(140%) translateX(-170%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}

@keyframes return-dev-karl {
  
    100% {
        transform: translateY(0%) translateX(0%);
    }
}


@keyframes karl-push-left {
    0% {
        transform: translateY(140%) translateX(-170%) scale(1.4);
        -webkit-animation: scale(1.4);
    } 

    100% {
        transform: translateY(140%) translateX(-416%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}




@keyframes david-reveal-text-scroll {
    0% {
        transform: translateX(0%)
    } 

    100% {
        transform: translateX(70%);
    }
}


@keyframes alex-reveal-text-scroll {
    0% {
        transform: translateX(-20%)
    } 

    100% {
        transform: translateX(46%);
    }
}

@keyframes ricky-reveal-text-scroll {
    0% {
        transform: translateX(-40%)
    } 

    100% {
        transform: translateX(22.5%);
    }
}

@keyframes karl-reveal-text-scroll {
    0% {
        transform: translateX(-60%)
    } 

    100% {
        transform: translateX(-0.5%);
    }
}

@keyframes david-slide-mask {
    0% {
        clip-path: circle(0% at 200% 75%);
    } 

    100% {
        clip-path: circle(500% at 600% 75%);
    }
}

@keyframes alex-slide-mask {
    0% {
        clip-path: circle(0% at 120% 75%);
    } 

    100% {
        clip-path: circle(500% at 500% 75%);
    }
}

@keyframes ricky-slide-mask {
    0% {
        clip-path: circle(0% at 10% 75%);
    } 

    100% {
        clip-path: circle(500% at 400% 75%);
    }
}

@keyframes karl-slide-mask {
    0% {
        clip-path: circle(0% at -100% 75%);
    } 

    100% {
        clip-path: circle(500% at 200% 75%);
    }
}


@media only screen and (max-width: 768px)  {
    .navbar {
        justify-content: center;
    }
    .navbar-brand {
        margin: auto;
    }
}

