
.selected-container {      
    position: relative;
    left: 660px;
    background-color: rgb(185, 185, 185);
    width: 800px;
    height: 200px;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}

.img-button-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.featured-cont {
    position: relative;
    left: 450px;
}

#tools-cont {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 355px;
}

.tool-buttons {
    position: relative;
    left: 410px;
}

.dev-image-selected {
    border-radius: 10px;
    max-width: 250px;
    height: 150px;
    padding: 0px;
    margin: 0px;  
    
}

.tech {
    position: relative;
    left: 20px;
}





.button-links {
    display: flex;
    align-items: center;    
    width: 50px;
    height: 50px;
    margin: 10px;    
    border-radius: 10px;    
}

.button-icon { 
    position: relative; 
    right: 12px;  
    width: 60px;
    height: 60px;    
}

.dev-pure-text-david {
    position: relative;     
    right: 1220px;
    top: 90px;      
}


.dev-pure-text-alex {
    position: relative;     
    right: 1405px;
    top: 90px;      
}

.dev-pure-text-ricky {
    position: relative;     
    right: 1590px;
    top: 90px;      
}

.dev-pure-text-karl {
    position: relative;     
    right: 1775px;
    top: 90px;      
}

.slide-mask {
    animation: slide-mask 700ms ease-in forwards;
}

.hide-text {
    visibility: hidden;
}



.reveal-text {    
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, opacity 0.5s linear;  
    animation: reveal-text-scroll 700ms ease-in forwards;
    
}


@keyframes reveal-text-scroll {
    0% {
        transform: translateX(0%)
    } 

    100% {
        transform: translateX(83%);
    }
}

@keyframes slide-mask {
    0% {
        clip-path: circle(0% at 900% 50%);
    } 

    100% {
        clip-path: circle(240% at 900% 50%);
    }
}