/* Navbar stuff */

.navbar {  
    position: fixed;  
    width: 100%;
    padding: 0;
    background-color: rgb(235, 235, 235);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1;
}

.navbar-brand {    
    background-color: rgb(92, 92, 92);
    margin-left: 50px;
    padding: 20px;
}

.navbar-dark {
    background-color: rgb(187, 187, 187);
}

.bg {
    background-color: rgb(175, 178, 185);
}
.nav-link {
    color:white;
    border-right: solid silver;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navnoborder {
    border-right: 0;
}
/* 
.proficiencies {
    display: flex; 
    flex-direction: row;
    margin-top: 30px;
    font-size: 20px;
    
} */

body {
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.88) 0%, #929292 100%);       
    height: 900px;
    padding-top: 25px;     
}


#pagecontainer {
    position: relative;
    min-height: 7vh;
}
  
 #contentwrap {
    padding-bottom: 2.5rem;    
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
}

footer {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(48, 48, 48);
    color: rgb(216, 216, 216);
    border-top: 8px solid rgb(177, 177, 177);
    padding: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
}



a:hover {
    color:silver;
}

.wmw-photo {
    margin: 10px 20px 50px;
}

img {
    margin-right: 15px;
}

#aboutme {
    background-color: rgb(185, 185, 185);
    margin-top: 120px;    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#aboutme h1 {
    border-bottom: solid silver;
    padding-bottom: 10px;
}

.p2 {
    font-size: 30px;
    font-family: fantasy;
}

#aboutme img {
    height: 400px;
    padding-top: 10px;
}

#aboutme p {
    padding-top: 10px;
}

/* .featured-app {
    max-height: 700px;
} */

#featured-app {
    background-color: rgb(202, 202, 202);
    margin-top: 130px;
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-height: 1700px;
}

#featured-app h1 {
    border-bottom: solid silver;
    padding-top: 20px;
    padding-bottom: 20px;
}

#featured-app img {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-height: 200px;
    max-width: 200px;
}

#featured-app p {
    padding-top: 10px;
}



@media only screen and (max-width: 768px)  {
    .navbar {
        justify-content: center;
    }
    .navbar-brand {
        margin: auto;
    }
}

