/* Navbar stuff */
.navbar {
    background-color: rgb(0, 55, 156);
    padding: 0;
}

.navbar-brand {
    background-color: rgb(0, 55, 156);
    margin-left: 50px;
    padding: 20px;
}

.navbar-dark {
    background-color: rgb(0, 55, 156);
}

.bg {
    background-color: rgb(45, 108, 255);
}
.nav-link {
    color:white;
    border-right: solid silver;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navnoborder {
    border-right: 0;
}
/* 
.proficiencies {
    display: flex; 
    flex-direction: row;
    margin-top: 30px;
    font-size: 20px;
    
} */

body {
    background-color: silver;
}


#pagecontainer {
    position: relative;
    min-height: 7vh;
}
  
 #contentwrap {
    padding-bottom: 2.5rem;    
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
}

footer {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(45, 108, 255);
    color: rgb(216, 216, 216);
    border-top: 8px solid rgb(23, 253, 73);
    padding: 10px;
}


a:hover {
    color:silver;
}

.wmw-photo {
    margin: 10px 20px 50px;
}

img {
    margin-right: 15px;
}

#aboutme {
    background-color: white;
    margin-top: 30px;
}

#aboutme h1 {
    border-bottom: solid silver;
    padding-bottom: 10px;
}

p2 {
    font-size: 30px;
    font-family: fantasy;
}

#aboutme img {
    height: 400px;
    padding-top: 10px;
}

#aboutme p {
    padding-top: 10px;
}


#portfolio {
    background-color: white;
    margin-top: 30px;
}

#portfolio h1 {
    border-bottom: solid silver;
    padding-bottom: 10px;
}

#portfolio img {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-height: 200px;
    max-width: 200px;
}

#portfolio p {
    padding-top: 10px;
}



@media only screen and (max-width: 768px)  {
    .navbar {
        justify-content: center;
    }
    .navbar-brand {
        margin: auto;
    }
}