/* Navbar stuff */



body {
    position: relative;
    z-index: 0;
    background: linear-gradient(180deg, rgba(206, 73, 73, 0.88) 0%, #131313 100%);       
    height: 100%;     
    overflow: hidden;      
}

.trouble {
    position: absolute;
}

.navbar {  
    position: fixed;  
    width: 100%;
    padding: 0;
    background-color: rgb(235, 235, 235);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1;
}



.navbar-brand {    
    background-color: rgb(92, 92, 92);
    margin-left: 50px;
    padding: 20px;
}

.navbar-dark {
    margin-top: 25px;
    background-color: rgb(187, 187, 187);
}

.bg {
    background-color: rgb(175, 178, 185);
}
.nav-link {
    color:white;
    border-right: solid silver;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#navnoborder {
    border-right: 0;
}

  
#contentwrap {
    padding-bottom: 2.5rem;    
}
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            
}

footer {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(48, 48, 48);
    color: rgb(216, 216, 216);
    border-top: 8px solid rgb(177, 177, 177);
    padding: 10px;
}

.intro {
    display: flex;
    flex-direction: column;
}



a:hover {
    color:silver;
}

.wmw-photo {
    margin: 10px 20px 50px;
}

img {
    margin-right: 15px;
}

#aboutme {
    background-color: rgb(185, 185, 185);
    margin-top: 120px;    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#aboutme-container {
    position: relative;
    left: 450px;
}

#aboutme h1 {
    border-bottom: solid silver;
    padding-bottom: 10px;
}

.p2 {
    font-size: 30px;
    font-family: fantasy;
}

#aboutme img {
    height: 400px;
    padding-top: 10px;
}

#aboutme p {
    padding-top: 10px;
}

/* .featured-app {
    max-height: 700px;
} */

#featured-app {
    background-color: rgb(202, 202, 202);
    margin-top: 130px;
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-height: 1700px;
}

#featured-app h1 {
    border-bottom: solid silver;
    padding-top: 20px;
    padding-bottom: 20px;
}

#featured-app img {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    max-height: 200px;
    max-width: 200px;
}

#featured-app p {
    padding-top: 10px;
}


.featured-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 200px;
    height: 200px;
    width: 200px;
    background-color: black;
    
}

.container {
    background: transparent;
}

.row {
    display: flex;
    flex-direction: column;    
}

.text-body {
    margin-top: 20px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    margin-right: 190px;
}

.next-button {    
    font-size: 30px;
    padding: 10px;
    background-color: rgb(100, 100, 100);      
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    width: 160px;
}

.secondary-button {
    font-size: 30px;
    padding: 10px;
    background-color: rgb(100, 100, 100);      
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    width: 160px;
}


.profile-group {
    position: relative;
    display: flex;
    flex-direction: column;

    top: 100px;
    left: 500px;
    width: 750px;  
    height: 240px;  
    background-color: rgb(100, 100, 100);      
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
       
}

.profile-container {
    
    font-size: 30px;
    padding: 10px;
    background-color: rgb(100, 100, 100);      
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );    
    width: 100px;
    height: 100px;
    margin: 30px;
}

#carousel-container {
    position: relative;
    left: 400px;
}

/* .button {
    max-width: 200px;
    height: 200px;
    margin: 13px;
} */

.button-container {
    display: flex;
    flex-direction: row; 
    margin-left: 10px;
    
}


.dev-image {
    border-radius: 10px;
    max-width: 150px;
    height: 100px;
    padding: 0px;
    margin: 0px;      
}


.selected {
    display: flex;
    flex-wrap: nowrap;
    z-index: -1; 
    position: relative;   
    padding: 0px;
    height: 0px;
    width: 0px;
    right: 400px;
    top: 258px;

}


.dev-text-content {   
    position: relative;
    z-index: 0;      
    padding: 0px;
    height: 275px;   
    background: linear-gradient(180deg, rgba(83, 83, 83, 0.88) 0%, #929292 100%);     
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 0px solid rgba( 255, 255, 255, 0.18 ); 
}


.dev-button {
    max-width: 200px;
    height: 200px;
    margin: 13px;
    position: relative;
    z-index: 2;
    background-image: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    
}

#button-linkedin {
    background:url('../img/linkedin.png') no-repeat;     
    background-position: center;
    background-size: contain;
}

#button-github {
    background:url('../img/github.png') no-repeat;     
    background-position: center;
    background-size: contain;
}









.david-button {
    transition: transform 700ms ease-in-out;
}

.alex-button {
    transition: transform 700ms ease-in-out;
}

.ricky-button {
    transition: transform 700ms ease-in-out;
}

.karl-button {        
    transition: transform 700ms ease-in-out;
}

.push-left-david {
    transition: transform 700ms ease-in-out;
}

.push-left-alex {
    transition: transform 700ms ease-in-out;
}

.push-left-ricky {
    transition: transform 700ms ease-in-out;
}

.push-left-karl {   
    transition: transform 700ms ease-in-out;
}



.david .david-button {    
    animation: selected-dev-david 700ms ease-in forwards;  
}

.alex .alex-button {    
    animation: selected-dev-alex 700ms ease-in forwards;  
}

.ricky .ricky-button {    
    animation: selected-dev-ricky 700ms ease-in forwards;  
}

.karl .karl-button {    
    animation: selected-dev-karl 700ms ease-in forwards;      
}

.david .david-return {
    animation: return-dev-david 700ms ease-in forwards; 
    animation-delay: 0.7s;
}

.alex .alex-return {
    animation: return-dev-alex 700ms ease-in forwards; 
    animation-delay: 0.7s;
}

.ricky .ricky-return {
    animation: return-dev-ricky 700ms ease-in forwards; 
    animation-delay: 0.7s;
    
}

.karl .karl-return {
    animation: return-dev-karl 700ms ease-in forwards;   
    animation-delay: 0.7s;
}

.david .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.david .fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, opacity 0.5s linear;
}

.alex .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.alex .fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, opacity 0.5s linear;
}

.ricky .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.ricky .fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, opacity 0.5s linear;
}

.karl .fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.karl .fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s, opacity 0.5s linear;
}






.david .push-left-david {
    animation: push-left-david 700ms ease-in forwards;
}

.alex .push-left-alex {
    animation: push-left-alex 700ms ease-in forwards;
}

.ricky .push-left-ricky {
    animation: push-left-ricky 700ms ease-in forwards;
}


.karl .push-left-karl {
    animation: push-left-karl 700ms ease-in forwards;  
     
}

.selected .unwrap {
    animation: unwrap 700ms ease-in forwards;
}

.selected .wrap {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
    animation: wrap 700ms ease-in forwards;
}


@keyframes unwrap {

    0% {
        transform: translateX(0%);
        padding: 0px;
    } 

    100% {
        transform: translateX(-30%);
        padding-left: 200px;
        padding-right: 625px;
    }
}

@keyframes wrap {

    0% {
        transform: translateX(-30%);
        padding-left: 0px;
        padding-right: 825px;
    } 

    100% {
        transform: translateX(-68%);
        padding-left: 0px;
        padding-right: 0x;
    }
}




@keyframes selected-dev-david {
    0% {
        transform: translateY(0);
    } 

    100% {
        transform: translateY(140%) translateX(170%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}

@keyframes return-dev-david {  

    100% {
        transform: translateY(0%) translateX(0%);
    }
}

@keyframes push-left-david {
    0% {
        transform: translateY(140%) translateX(170%) scale(1.4);
        -webkit-animation: scale(1.4);
    } 

    100% {
        transform: translateY(140%) translateX(-67%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}






@keyframes selected-dev-alex{
    0% {
        transform: translateY(0);
    } 

    100% {
        transform: translateY(140%) translateX(60%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}

@keyframes return-dev-alex {
  
    100% {        
        transform: translateY(0%) translateX(0%);
    }
}

@keyframes push-left-alex {
    0% {
        transform: translateY(140%) translateX(60%) scale(1.4);
        -webkit-animation: scale(1.4);
    } 

    100% {
        transform: translateY(140%) translateX(-184%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}






@keyframes selected-dev-ricky {
    0% {
        transform: translateY(0);
    } 

    100% {
        transform: translateY(140%) translateX(-60%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}

@keyframes return-dev-ricky {

    100% {
        transform: translateY(0) translateX(0%);
    }
}


@keyframes push-left-ricky {
    0% {
        transform: translateY(140%) translateX(-60%) scale(1.4);
        -webkit-animation: scale(1.4);
    } 

    100% {
        transform: translateY(140%) translateX(-300%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}





@keyframes selected-dev-karl {
    0% {
        transform: translateY(0);
    } 

    100% {
        transform: translateY(140%) translateX(-170%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}

@keyframes return-dev-karl {
  
    100% {
        transform: translateY(0%) translateX(0%);
    }
}


@keyframes push-left-karl {
    0% {
        transform: translateY(140%) translateX(-170%) scale(1.4);
        -webkit-animation: scale(1.4);
    } 

    100% {
        transform: translateY(140%) translateX(-416%) scale(1.4);
        -webkit-animation: scale(1.4);
    }
}




@media only screen and (max-width: 768px)  {
    .navbar {
        justify-content: center;
    }
    .navbar-brand {
        margin: auto;
    }
}

