.carouselCSS {
    font-family: 'fantasy';
    /* padding: 10px; */
    font-size: 40px;
}

.portfolio {
    background-color:  rgb(45, 108, 255);
    height: 700px;
    
}

.button {
    font-family: 'fantasy';
    padding: 0px;
    font-size: 30px;
}



.large {    
    height: 788px!important;
    width: 1297px!important;
    background-color: transparent!important;
    background-repeat: no-repeat;
    border: none;
}


