.carouselCSS {
    font-family: 'fantasy';
    /* padding: 10px; */
    font-size: 40px;    
}

.view-port {
    position: relative;             
    top: 185px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 490px;
    overflow: hidden; 
    border-radius: 1%;        
    border: 1px solid white;
    border-radius: 10px;  
}

/* .view-port:hover {
    
} */


.card-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
}






.portfolio-window {
    position: relative;
    top: 135px;
    padding: 80px 30px 30px;
    border: 1px solid white;
    border-radius: 10px;
    background-color:  rgba(0, 0, 0, 0.3);
    height: 650px;
    width: 950px;
    
    
}

.carousel-button {
    font-family: 'fantasy';
    padding: 0px;
    font-size: 30px;
    background-color: transparent;      
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid white;
    border-radius: 10px;  
    width: 160px;
    cursor: pointer;
    color: white;
}
.repoDisplay {
    position: relative;
    left: 360px;
    font-family: 'fantasy';
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 30px;
    background-color: transparent;      
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 5px );
    border: 1px solid white;
    border-radius: 10px;  
    width: 200px;
}



.large {    
    height: 788px!important;
    width: 1297px!important;
    background-color: transparent!important;
    background-repeat: no-repeat;
    border: none;
}


