.email-css {
    font-family: 'fantasy';
    /* padding: 10px; */
    font-size: 40px;   
   
}

.send-email {
    display: flex;
    justify-content: center;
}

.email-text {
    color: rgb(59, 59, 59);
    font-weight: 500;
}

.landing-container {
    width: 100px;
}

.welcome-modal {
    position: relative;
    z-index: 1;
}