.email-css {
    font-family: 'fantasy';
    /* padding: 10px; */
    font-size: 40px;   
   
}

.send-email {
    display: flex;
    justify-content: center;    
    
}

.email-text {
    color: rgb(0, 0, 0);
    font-weight: 500;
    background: linear-gradient(110deg, rgb(255, 255, 255) 0%, rgb(175, 175, 175) 35%, rgb(126, 126, 126) 100%);
}

.email-text:hover {
    color: rgb(255, 255, 255);
    background: linear-gradient(110deg, rgb(211, 211, 211) 0%, rgb(141, 141, 141) 35%, rgb(109, 109, 109) 100%);
}

.landing-container {
    width: 100px;
}

.form-control {
    border-radius: 5px;
    background: linear-gradient(110deg, rgb(212, 212, 212) 0%, rgb(253, 253, 253) 35%, rgb(182, 182, 182) 100%);
    color: black;
}

.form-control:focus {
    border: none;
   
}

.welcome-modal {
    position: relative;
    z-index: 1;
}