

.button-container {
    display: flex;
    justify-content: space-between;
    width: 800px;
}

.skills-button {
    width: 230px;
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.skills-button:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}

.display-container {
    position: relative;
    left: 20px;
    top: 25px;
    width: 40.6vw;
    height: 70px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
    font-weight: 450;
    visibility: hidden;
    color: white;
}

.reveal-skills {
    visibility: visible;
}
